.form {
  width: 100%;
}

.form > label {
  display: block;
  margin-bottom: 5px;
}
.form > input {
  margin-bottom: 20px;
  display: block;
  padding: 5px 15px;
  width: 100%;
  outline: none;
  border: 1px solid var(--app-color-text);
}
