@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  --app-color-theme: #cffafe;
  --app-color-theme-dark: #38bdf8;
  --app-color-text: #475569;
  --app-transition-duration: 0.5s;
  color: var(--app-color-text);
}

a,
a:focus,
a:visited {
  color: var(--app-color-text);
}

a {
  transition: color var(--app-transition-duration);
}

a:hover {
  color: var(--app-color-theme-dark);
}

button {
  cursor: pointer;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1024px;
}

.btn {
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid var(--app-color-theme-dark);
  color: var(--app-color-theme-dark);
  font-weight: bold;
  transition: background-color var(--app-transition-duration),
    color var(--app-transition-duration);
}

.btn:hover {
  background-color: var(--app-color-theme-dark);
  color: #fff;
}

.error {
  color: red;
  font-weight: bold;
}

.mt-10 {
  margin-top: 10px;
}
